.todo-item__container {
  background: #fff;
  border-radius: 8px;
  margin-top: 8px;
  padding: 16px;
  position: relative;
  box-shadow: 0 4px 8px grey;
  display: flex;
  flex-direction: column;
}

.todo-item__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.todo-item__buttons {
  text-align: right;
}

button {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
  color: white;
  cursor: pointer;
}

.update {
  display: inline-block;
  background-color: blue;
}

.remove {
  display: inline-block;
  background-color: red;
  margin-left: 8px;
}
